<h2>Project: <%= @project.name %></h2>
<table border="1px">
  <tr>
    <td>Goal</td>
    <td><%= @project.goal %></td>
  </tr>
  <tr>
    <td>Addressees</td>
    <td><%= @project.addressees %></td>
  </tr>
  <tr>
    <td>Location</td>
    <td><%= @project.location %></td>
    <%# MAP %>
  </tr>
  <tr>
    <td>Inhabitants</td>
    <td><%= @project.amount_of_inhabitants %></td>
  </tr>
  <tr>
    <td>Description of Location</td>
    <td><%= @project.location_description %></td>
  </tr>
  <tr>
    <td>Status of Project</td>
    <td><%= @project.status_of_project %></td>
  </tr>
  <tr>
    <td>Donations needed (if 0 then ongoing project))</td>
    <td><%= @project.donations_needed %></td>
  </tr>
  <tr>
    <td>Donations received</td>
    <td><%= @project.donations_received %></td>
  </tr>
  <tr>
    <td>Donation bank transfer code (Verwendungszweck)</td>
    <td><%= @project.donation_code %></td>
  </tr>
</table>