<h2>Project: <%= @project.name %></h2>
<p>(Back to <%= link_to 'all projects', projects_path %>)</p>
<p>Location:</p>
<% gmaps_api_key=Rails.application.credentials.dig(:google_maps_api) %>
<%
  zoom_level_ghana = 6
  zoom_level_city = 12
  zoom_level = @project.location == "Ghana" ? zoom_level_ghana : zoom_level_city
%>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center='#{@project.location}'&size=300x300&zoom=#{zoom_level}&key=#{gmaps_api_key}" %>
<br><br>
<table border="1px">
  <tr>
    <td>Goal</td>
    <td><%= @project.goal %></td>
  </tr>
  <tr>
    <td>Addressees</td>
    <td><%= @project.addressees %></td>
  </tr>
  <tr>
    <td>Location</td>
    <td><%= @project.location %></td>
  </tr>
  <tr>
    <td>Inhabitants</td>
    <td><%= @project.amount_of_inhabitants %></td>
  </tr>
  <tr>
    <td>Description of Location</td>
    <td><%= @project.location_description %></td>
  </tr>
  <tr>
    <td>Status of Project</td>
    <td><%= @project.status_of_project %></td>
  </tr>
  <tr>
    <td>Donations needed for project or initiative (if 0 then ongoing project))</td>
    <td><%= @project.donations_needed %> €</td>
  </tr>
  <tr>
    <td>Donations received</td>
    <td><%= @project.donations_received %> €</td>
  </tr>
  <tr>
    <td>Donation bank transfer code (Verwendungszweck)</td>
    <td><%= @project.donation_code %></td>
  </tr>
</table>