<u><h1>Bildung für Ghana</h1></u>
<%= image_tag 'flag.png', size: '214x160'%>
<ol>
  <li><%= link_to 'Aktuelle Nachrichten', news_path %></li>
  <li><%= link_to 'Die Projekte (derzeitig laufende und fertige)', projects_path %></li>
  <li><%= link_to 'JETZT spenden ', donate_now_path %></li>
  <li><%= link_to 'Über Ghana', about_ghana_path %></li>
  <li><%= link_to 'Über mich & Kontakt', about_me_path %></li>
</ol>
<br><br>
<%= link_to 'Imprint', imprint_path%>