<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="inner cover">
      <h1 class="cover-heading">Education For Ghana</h1>
      <p class="lead">On this webpage we give an overview about <%= link_to 'what is currently going on', news_path %>, <%= link_to 'our projects', projects_path %> and <%= link_to 'how you can help with your donations', donate_now_path %>! You can donate in general or on a specific <%= link_to 'project', projects_path %> (You can find specific donation codes on the individual project pages)</p>
      <p class="lead">
        <%= link_to 'Help Now!', donate_now_path, {class: "btn btn-lg btn-default"} %>
      </p>
    </div>
  </div>
</div>
</div>
