<!DOCTYPE html>
<html>
  <head>
    <title>
      <% title = @title.present? ? "#{@title} | " : '' %>
      <% title = "#{title}Bildung für Ghana" %>
      <% title = "STAGING #{title}" if Rails.env.staging? %>
      <% title = "DEVELOPMENT #{title}" if Rails.env.development? %>
      <%= title %>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
